body {
    background-color: rgb(224, 221, 221) ;
}

/*SEARCH BAR CSS*/
.searchBar {
  width: 100%;
  padding-left: 256px;
  padding-top: 35px;
}


/*SIDE NAVIGATION CSS*/
.photographerHeadShot {
  width: 75%;
  height: auto;
  padding-left: 15px;
  padding-top: 35px ;
  
}

.sidenav {
    height: 100%;
    width: 160px;
    background-color: white;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 50px;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #302f2f;
    text-decoration: underline;
  }

  /*MAIN CONTENT DIV CSS*/
  .mainContent {
    padding-left: 256px;

  }

  /*Gallery CSS*/
  .gallImage {
      width: 250px;
      height: 200px;
  }
  .gallImage:hover {
      width: 500px;
      height: 450px;
      transition: 0.75s;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .column {
    margin-left: 250px;
    flex:33.3%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }